---
import Layout from '../components/Layout.astro';
import LandingPage from '../components/LandingPage.vue';
---
<Layout>
<LandingPage />
</Layout>
<!-- change when ready to launch -->

<!--
<Layout>
  <div id="app"></div>
</Layout>
-->

<script>
  import { createApp } from 'vue'
  import MusicApp from '../components/MusicApp.vue'
  
  createApp(MusicApp).mount('#app')
</script>
